.auctionhouseitem-product {
    // border: 1px solid rgba(0, 0, 0, 0.125);
    // border-radius: 15px;
    // box-shadow: 5px 5px 10px gray;
    padding: 7px;
    margin-left: 1rem 0;
    margin-top: 1rem;
    .buybook-area {
      margin-top: 20px;
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 50px;
      width: max-content;
      .bookprice-tag {
        margin: 0 10px 0 20px;
        font-family: "Crimson Text";
      }
      .btn-buybook {
        // background-color: #F9D963;
        background-image: url("../../assets/img/button.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: black;
        border-radius: 20px;
        padding: 8px 25px;
        font-family: "Leander";
      }
    }
  }
  .auctionhouseitem-product img {
    border-radius: 1rem;
    aspect-ratio: 1/1;
  }
  .auctionhouseitem-body {
    margin-top: 10px;
    padding: 10px;
    .item-title {
      font-size: 1.25rem;
      font-family: 'Crimson Text';
      font-weight: 600;
      width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap; 
      overflow: hidden;
    }
    .item-author {
      font-size: 1rem;
      font-family: 'Crimson Text';
      line-height: 26px;
      color: rgba(0, 0, 0, 0.8);
    }
    .button-area {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      .btn-buy {
        background-color: #F9D54C;
      }
      .btn-cart {
        background: #faf5e0;
      }
      .button {
        border-radius: 12px;
        border: 1px solid #F9D54C !important;
      }
    }
  }