.header {
  position: relative;
  background-color: #493016;
  z-index: 10;
}
.navbar {
  z-index: 10;
}
.navbar-brand, .navbar-brand:hover {
  color: white !important;
  font-size: 2rem;
}
.nav-link, .nav-link:hover {
  color: white !important;
}
.nav-list {
  margin: 0 auto;
  text-transform: uppercase;
}
.header-effect {
  position: absolute;
  width: 100%;
  height: 90px;
  top: 20px;
  z-index: 0;
}
.navbar-btn {
  color: white !important;
  border: none !important;
  span {
    color: white !important;
  }
}