.single-product-container {
  padding: 2rem;

  .product-brandimage {
    padding: 40px;
  }
  .detail-area {
    display: flex;
    padding: 40px;
  }

  .product-detailinfo {
    .book-title {
      color: #B95951;
      text-transform: uppercase;
      // font-family: ;
    }
    .book-authorname {
      font-style: italic;
      font-family: "Lato";
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .book-category {
      background-color: #F9D963;
      padding: 5px;
      border-radius: 10px;
    }
    .book-introduction {
      margin-top: 40px;
    }
  }
  .pdf-maincontent {
    width: 800px;
    height: 100vh;
    background-color: white;
    overflow: auto;
    padding: 20px;
    color: #000;
    margin: 0 auto;
    p {
      font-size: 18px;
    }
  }
  .pdf-maincontent img{
    width: 100% !important;
    height: auto !important;
  }
  .product-content {
    border-radius: 10px;
    margin-top: 135px;
    margin-bottom: 110px;
    span {
      font-size: 18px;
    }
  }
  .action-area {
    width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .btn-action {
    background-color: #30200D;
    color: white;
    margin-right: 10px;
  }
  .btn-action:hover {
    background-color: #583a16;
    color: white;
  }
  .bookmark-area {
    padding: 65px 130px 100px 130px;
    border-radius: 20px;
    background-color: #E3D1B0;
    margin-bottom: 200px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .bookmark-title {
    text-align: center;
    margin-bottom: 20px;
  }
  .bookmark-imagearea {
    width: 100%;
  }
  .bookmark-description {
    margin-left: 10%;
  }
  .bookmark-content {
    display: flex;
    align-items: center;
  }
  .top-hr{
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
  }
  .additional-area {
    align-items: center;
    margin-top: 100px;
  }
  .additional-title {
    font-size: 3rem;
    text-align: center;
    color: #B95951;
    width: 20%;
  }
  .left-decorader {
    text-align: right;
    width: 40%;
  }
  .right-decorader {
    text-align: left;
    width: 40%;
  }
}