.single-product-container {
  padding: 2rem;

  .product-brandimage {
    padding: 40px;
  }
  .detail-area {
    display: flex;
    padding: 40px;
  }

  .product-detailinfo {
    .book-title {
      color: #B95951;
      text-transform: uppercase;
      // font-family: ;
    }
    .book-authorname {
      font-style: italic;
      font-family: "Lato";
      font-size: 1rem;
      text-transform: uppercase;
      margin-bottom: 20px;
    }
    .book-category {
      background-color: #F9D963;
      padding: 5px;
      border-radius: 10px;
    }
    .book-introduction {
      margin-top: 40px;
    }
  }
  .pdf-maincontent {
    width: 800px;
    height: 100vh;
    background-color: white;
    overflow: auto;
    padding: 20px;
    color: #000;
    margin: 0 auto;
    p {
      font-size: 18px;
    }
  }
  .pdf-maincontent img{
    width: 100% !important;
    height: auto !important;
  }
  .product-content {
    border-radius: 10px;
    margin-top: 135px;
    margin-bottom: 110px;
    span {
      font-size: 18px;
    }
    .action-area {
      width: 800px;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  .btn-item {
    background-color: #F9D963;
  }
  .btn-item:hover {
    background-color: #f3dc89;
  }
  .btn-action {
    background-color: #F9D963;
    margin-right: 10px;
  }
  .btn-action:hover {
    background-color: #f3dc89;
  }
  .top-hr{
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 30px;
  }
  .additional-area {
    align-items: center;
    margin-top: 100px;
  }
  .additional-title {
    font-size: 3rem;
    font-family: "Merriweather";
    text-align: center;
    color: #B95951;
    width: 20%;
  }
  .left-decorader {
    text-align: right;
    width: 40%;
  }
  .right-decorader {
    text-align: left;
    width: 40%;
  }
  .addtional-content {
    margin-top: 100px;
    position: relative;
    .addtional-item {
      background-color: #493016;
      padding: 16px;
      border-radius: 16px;

      .action-area {
        margin: 0 auto;
        margin-top: 20px;
        text-align: right;
        .price-area {
          font-size: 1.5rem;
          margin-right: 20px;
        }
      }
    }
    .additional-bg {
      width: 100%;
      top: 0;
    }
    .additional-itemarea {
      position: absolute;
      padding: 0 50px;
      top: 75px;
      z-index: 10;
      color: white;
      .item-title {
        margin-top: 24px;
      }
    }
  }
  .bottom-hr {
    width: 30%;
    margin: 0 auto;
    margin-top: 120px;
  }
  .include-head {
    position: relative;
    margin-top: 120px;
    text-align: center;
    font-family: 'Merriweather';
    .head-title {
      font-size: 3rem;
      color: #B95951;
    }
    .owl-tip {
      width: 140px;
      height: 100px;
      position: absolute;
      top: -55px;
      left: -45px;
    }
  }
  .include-content {
    text-align: center;
    margin-top: 35px;
  }
}