.nft-item-wrapper {
  margin-top: 10px;
  font-family: 'Crimson Text';
  .nft-item {
    font-size: 14px;
    line-height: 1.4;
    border: 1px solid #c7c7c7;
    border-radius: 15px;
    background-color: white;
    .nft-card-button {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 0 5px;
      margin-bottom: 5px;
      button {
        width: 100%;
        background-color: #fa6800;
        color: white;
        padding: 5px 0;
        border-radius: 5px;
        font-family: 'Crimson Text';
        &:nth-child(2) {
          background-color: white;
          color: orange;
          border: 1px solid orange;
        }
      }
    }
    .nft-card-img {
      // padding: 15px 15px;
      aspect-ratio: 1/1;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #c7c7c7;
    }
    .nft-card-content {
      padding: 15px;
      p {
        margin: 0;
      }
      .detail-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-size: 16px;
        font-weight: 600;
        .price {        
          color: #595959;
        }
      }
      .owner-detail {
        font-size: 14px;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow:hidden;
      } 
    }
  }
  .nft-item:hover {
    box-shadow: 1px 3px 10px #000000;
  }
}
