.terms-container {
  padding: 3rem 0;
  min-height: calc(100vh - 154px);
  .terms-title {
    margin-top: 5rem;
    font-family: "Crimson Text";
    font-size: 48px;
    text-align: center;
  }

  .terms {
    p {
      font-family: "Crimson Text";
      font-size: 24px;
    }
  }
}

@media(min-width: 1024px) {
  .terms-container {
    .terms {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: stretch;
    }
  }
}